@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 titleLine">Welcome to Your HR Management Hub</h1>
    <p>
        Ready to transform the way you manage human resources? Log in to explore the HRMS or contact our support team for assistance.
    </p>
</div>
